
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <title>EventHandler Login</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/f/fe/Srmseal.png">
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body>
    <!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/f/fe/Srmseal.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<title>Ongoing Events</title>
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
<style>
.customsty {
  font-family: 'Inter', sans-serif;
}
</style>
</head>

<body>
<header class="text-gray-700 body-font border-b border-gray-200">
<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
  <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="https://tailblocks.cc"
    target="_blank">
    <img width="50px" src="https://upload.wikimedia.org/wikipedia/en/f/fe/Srmseal.png" alt="">
    <span class="ml-3 text-xl">
      <div class="font-bold customsty">SRM University</div>
    </span>
  </a>
  <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
    <form method="POST">
      <button name="Home_EH" class="mr-5 hover:text-gray-900">Home</button>
      <button name="EH_EventRequests" class="mr-5 hover:text-gray-900">Event Requests</button>
    </form>
  </nav>
  <form method="get" action="/logout.ejs">
    <button name="logout_EH"
      class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Logout
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </form>
</div>
</header>
<section class="text-gray-700 body-font border-t border-gray-200">
<div class="container px-5 py-24 mx-auto">
  <div class="flex flex-col text-center w-full mb-20">
    <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">You can Apply any one of the
      below Events !</h2>
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Welcome, Kanav</h1>
  </div>
  <style>
.header{
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}
</style>
<div class="flex flex-wrap -m-4">
<div class="p-4 md:w-1/3">
    <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
        <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
            </div>
            <h1 class="header">New Event</h1>
        </div>
        <div class="flex-grow">
            <p class="leading-relaxed text-base">You Can Create a New Event as an Event Handler and all the Records will be saved in our Databses and it will published to students.</p>
            <br>
            <button onClick="document.location.href='/event_handler_create_event.ejs'" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <div class="customsty">Create Event</div>
            </button>
        </div>
    </div>
</div>

<style>
.header {
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}

.parastyle {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}
</style>
<% newevent.forEach(newevent => { %>
<div class="p-4 md:w-1/3">
<div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
    <div class="flex items-center mb-3">
        <div
            class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
        </div>



       
            <img src="/images/<%= newevent.image %>" width="100px" alt="image">
        
        
        
        
        
        <h2 class="header">
            <%= newevent.eventname %>		</h2>
    </div>
    <div class="flex-grow">
        <p><span class="parastyle">Co-ordinator :
            </span><%= newevent.facultyname %>		</p>
        <p><span class="parastyle">Dept. :
            </span><%= newevent.dept %>		</p>
        <p><span class="parastyle">Description :
            </span><%= newevent.description %>			</p>
        <br>
        <!--ONCLICK DOWN IS STRICTLY UNSAFE SHOULD CHANGE LATER"> -->
        <button
            onClick="document.location.href='/event_handler_event_info.ejs/<%= newevent.id %>'"
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <div class="customsty">See More				</div>
        </button>
        <!-- </form> -->
    </div>
</div>
</div>



<% }); %>
















<!-- <div class="p-4 md:w-1/3">
<div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
    <div class="flex items-center mb-3">
        <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
        </div>
        <h2 class="text-gray-900 text-lg title-font font-medium">There are no upcoming events..</h2>
    </div>
    <div class="flex-grow">
        <p class="leading-relaxed text-base">You Can Create a New Event as an Event Handler and all the Records will be saved in our Databses and it will published to students.</p>
        <br>
        <button onClick="document.location.href='../eventpages/applyEvent.php'" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <div class="customsty">No Upcoming Events</div>
        </button>
    </div>
</div>
</div> --></div>  </section>
<footer class="bg-purple-700
         text-l text-white text-center
         border-t-4 border-blue-500
         fixed
         inset-x-0
         bottom-0
         p-3">
<div class="customsty">
  © 2021 Copyright:
  <a class="font-semibold">SRM University</a>
</div>
</footer>
<script src="https://cdn.tailwindcss.com"></script>
</body>

</html>    </body>

</html>
