<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <% if (events.length > 0) { %>
    
       
      <form method="POST" action="/hod_event.ejs">
        <button type="submit" name="approveAll" value="true">Approve All</button>
        <button type="submit" name="declineAll" value="true">Decline All</button>
        
        
        <table>
          <thead>
            <tr>
              <th>Student</th>
              <th>email</th>
              <th>faculty</th>
              <th>REG No.</th>
            </tr>
          </thead>
          <tbody>
            <% events.forEach(function(event) { %>
          <tr>
            <td><%= event.studentname %></td>
            <td><%= event.studentemail %></td>
            <td><%= event.facultyemail %></td>
            <td><%= event.studentreg_num %></td>
           
            
          
         <td> <button type="submit" name="approve" value="<%= event.studentemail %>,<%= event.eventid %>">Approve</button></td>
        <td> <button type="submit" name="decline" value="<%= event.studentemail %>,<%= event.eventid %>">Decline</button> </td>
        </tr>
        <% }); %>
        
</tbody>
        </table>

      </form>
      
          
      <% } else { %>
        <p>No events found.</p>
      <% } %>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function() {
          $('button[name="approve"]').click(function() {
            var value = $(this).val(); // Get the value attribute of the clicked button
            var data = {action: "approve", value: value}; // Create a data object with the action and value
            $.ajax({
              type: "POST",
              url: "/hod_event.ejs",
              data: data,
              success: function(response) {
                console.log(response);
              },
              error: function(xhr, status, error) {
                console.log(error);
              }
            });
          });
          
          $('button[name="decline"]').click(function() {
            var value = $(this).val(); // Get the value attribute of the clicked button
            var data = {action: "decline", value: value}; // Create a data object with the action and value
            $.ajax({
              type: "POST",
              url: "/hod_event.ejs",
              data: data,
              success: function(response) {
                console.log(response);
              },
              error: function(xhr, status, error) {
                console.log(error);
              }
            });
          });
        });
        </script>
</body>
</html>